# Avoid accidental upload of the Sketch and Figma design files
#####################################################
## Please do not remove lines 5 and 6 - thanks! 🙂 ##
#####################################################
*.sketch
*.fig

# Avoid accidental XD upload if you convert the design file
###############################################
## Please do not remove line 12 - thanks! 🙂 ##
###############################################
*.xd

# Avoid your project being littered with annoying .DS_Store files!
.DS_Store
.prettierignore

.vs/
.env
/app/.env

App.API/obj/Debug/net8.0/App.API.AssemblyInfo.cs
App.API/obj/Debug/net8.0/App.API.AssemblyInfoInputs.cache
App.API/obj/Release/net8.0/App.API.AssemblyInfo.cs
App.API/obj/Release/net8.0/App.API.AssemblyInfoInputs.cache
App.API/nohup.out
App.API/obj/Debug/net8.0/App.API.AssemblyInfoInputs.cache
App.API/obj/Release/net8.0/App.API.AssemblyInfo.cs
App.API/obj/Release/net8.0/App.API.AssemblyInfoInputs.cache
