@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --ff-barlow-condensed: 'Barlow Condensed', sans-serif; 
    --ff-bellefair: 'Bellefair', sans-serif; 
  }

  html, body, main {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .v-btn[disabled] {
    @apply text-white bg-transparent; 
    opacity: 1;
  }
  
  .v-btn[disabled] .btn-text {
    color: white !important; /* Set desired text color */
    border-bottom: 4px solid white; /* Set bottom border color */
  }
}
