@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --ff-barlow-condensed: 'Barlow Condensed', sans-serif; 
    --ff-bellefair: 'Bellefair', sans-serif; 
  }
  body{
    overflow: hidden;
  }
}
