@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --ff-barlow-condensed: 'Barlow Condensed', sans-serif; 
    --ff-bellefair: 'Bellefair', sans-serif; 
  }

  html, body, main {
    height: 100%;
    margin: 0;
    padding: 0;
  }
}
